<div jwcid="@commonbase:sticker">Карточка участия в мероприятии</div>
<div jwcid="@tandem:mBlock" securedObject="ui:securedObject" permissionKey="menuEntParticipationView" cid="2627ug">
    <div jwcid="@tandem:mPageWrapper">
        <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td>
                    <div jwcid="@tandem:mInfoTable" >
                        <div jwcid="@tandem:mInfoProperty" title="Наименование" value="ui:entPrtcption.fullEntertainmentName"/>
                        <div jwcid="@tandem:mInfoProperty" title="ФИО Участника" value="ui:employeeFulFio"/>
                        <div jwcid="@tandem:mInfoProperty" title="Наблюдатель" value="ui:entPrtcption.overseer"/>
                    </div>
                    <div>&nbsp;</div>
                </td>
            </tr>
        </table>
    </div>
</div>
