
<div jwcid="@tandem:mBlock" securedObject="ognl:@org.tandemframework.sec.runtime.SecurityRuntime@getInstance().getCommonSecurityObject()" permissionKey="menuEntertainment" >
    <div jwcid="@tandem:mRenderComponentRegion" cid="263tl9">
        <div jwcid="@commonbase:sticker" >Внеучебные мероприятия</div>
        <div class="wrapper">
            <table width="100%" border="0" cellpadding="0" cellspacing="0" >
                <tr>
                    <td class="actions-wrapper" >
                        <div jwcid="@tandem:mSubmit" renderAsLink="true" listener="onClickAddEntertainment" type="action" permissionKey="entertainmentAdd" >Добавить мероприятие </div>
                    </td>
                    <td style="vertical-align:top;" cid="263tlh">
                        <div jwcid="@tandem:mSearchList" showRowNumbersColumn="true" displayColumnButton="true" displayFooter="true" caption="Мероприятия" dataSource="fast:model.dataSource" />
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>